@media (max-width: 767.98px) {

	.space {
		padding: 49px 0;
		overflow: hidden;
	}

	.space-x {
		padding: 0 20px;
	}

	.container {
		width: 100%;
		/* Full width for mobile */
		/* padding: 0 15px;  */
	}

	.col-md-6,
	.col-md-12 {
		flex: 0 0 100%;
		/* Full width columns */
		max-width: 100%;
		/* Full width columns */
	}


	.t1 {
		font-size: 32px;
	}


	.img1 img {
		height: 491px;
	}

	.txt4 {
		padding: 0px 20px;
		width: 68%;
	}

	.application {
		height: 5vh;
		width: 107px;
	}

	.ic1,
	.ic2,
	.ic3,
	.ic4 {
		display: none !important;
	}

	.ci {
		height: 330px;
	}



}